input[value=table_1742281392] ~ table #list_table {
  width: 100%;
}

input[value=table_1742281392] ~ table #list_table .drop {
  filter: brightness(0.98);
  background-size: cover;
  height: 220px;
  border: 0 !important;
  border-radius: 10px;
}

input[value=table_1742281392] ~ table #list_table > tbody > tr > td:nth-child(2) {
  display: none;
}

input[value=table_1742281392] ~ table #list_table > tbody > tr > td {
  width: 50%;
}

input[value=table_1742281392] ~ table #list_table > tbody > tr > td > table {
  width: 100%;
}

input[value=table_1742281392] ~ table #list_table > tbody > tr > td > table:nth-child(2) {
  width: 100% !important;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 6px !important;
}

body {
  margin-top: 50px !important;
}

.header {
  height: 50px !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  background: #fff;
}

.header .logoArea {
  line-height: 50px !important;
}