@font-face {
  font-family: "Suit", sans-serif;
  src: url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Suit", sans-serif !important;
}

html, body, div, h1, h2, h3, h4, h5, h6, p {
  font-family: "Suit", sans-serif !important;
}

.css_wrap .gNavi > ul > li > a {
  font-size: 16px;
  color: #151515;
}

.css_wrap .gNavi ul li li {
  font-size: 12px;
  color: #707070;
}

.css_wrap .gNavi ul li li:hover {
  background: #222;
  color: #fff;
}

#header150103 .toplink img#login-img, #header150103 .toplink img#cart-img {
  width: 15px;
  margin: 0 4px 2px 0 !important;
  filter: brightness(0) invert(1);
}
#header150103 .toplink a:hover img {
  filter: brightness(0);
}
#header150103 .toplink a:link {
  font-size: 12px;
  font-weight: 400;
}

#green20_80518 .bxSlide80518_G1 > div > li {
  box-sizing: border-box;
  border: 1px solid #ddd;
  display: block;
  padding-bottom: 20px;
}

#green20_80518 .bxSlide80518_G1 > div > li > a:first-of-type {
  display: block;
  border-bottom: 1px solid #ddd;
}

#green20_80518 .bxSlide80518_G1 > div > li > a:not(:first-of-type) {
  padding: 10px 20px 0;
}

#green20_80518 .bxSlide80518_G1 > div > li > a.title {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  padding-bottom: 0;
}

#green20_80518 .bxSlide80518_G1 > div > li > a.ment {
  line-height: 2;
}

.m_visual {
  display: none;
}

#winw .m_visual {
  display: block;
}

.layout01 .drop-wrap {
  border-top: none;
}
.layout01 .sbig {
  background: #000 !important;
  font-size: 16px !important;
}
.layout01 .sbig, .layout01 .newCbtn {
  height: auto !important;
  line-height: normal !important;
  font-size: 16px;
  width: 200px;
  border-radius: 10px;
  margin-top: 60px;
  padding: 15px 0;
}

.pageNum {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 40px 0 0 !important;
}
.pageNum a, .pageNum strong {
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  padding: 0 !important;
  font-family: "SUIT Variable", sans-serif !important;
  font-size: 14px !important;
  color: #000 !important;
}
.pageNum .this, .pageNum a:hover {
  border: 1px solid !important;
  background: #000 !important;
  color: #fff !important;
  border-radius: 10px !important;
  font-weight: bold !important;
}

#imgSize .shop_title_text {
  border-bottom: 0;
  flex-direction: column;
  font-size: 20px;
}
#imgSize .shop_list {
  border-bottom: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 14px;
  font-weight: bold;
}
#imgSize .shop_frame {
  border-top: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
}
#imgSize .shop_frame.shop_framehyo {
  border: 1px solid #ddd !important;
  padding: 15px !important;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}
#imgSize .shop_frame > div > .shop_list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px !important;
}
#imgSize .shop_frame > div > .shop_list .price__ {
  order: -1;
  gap: 10px;
  color: #000;
  font-weight: 500;
}
#imgSize .shop_frame > div > .shop_list .price__ strong {
  font-weight: 800;
  font-size: 20px;
}
#imgSize .shop-cade03 {
  margin: 0 auto 40px !important;
}
#imgSize .shop-cade03 > ul {
  display: flex;
  align-items: center;
  gap: 5px;
}
#imgSize .shop-cade03 > ul > li {
  display: block;
  margin: 0 !important;
}
#imgSize .shop-cade03 > ul > li > a {
  padding: 8px 15px !important;
  font-weight: 400 !important;
  color: #222 !important;
  font-size: 14px !important;
}
#imgSize .shop-cade03 > ul > li > a:hover {
  color: #777;
  background: #eee;
  border-radius: 50px;
}
#imgSize .shop-cade03 > ul > li.active {
  background: #000;
  color: #fff;
  border: none;
  font-weight: bold;
}
#imgSize .shop-cade03 > ul > li.active > a {
  color: #fff !important;
}
#imgSize .shop-cade03 > ul > li.active > a:hover {
  color: #fff;
  background: #000;
  border-radius: 50px;
}

.table_collapse td {
  background: #fff !important;
  border: none;
  color: #000;
}
.table_collapse tr:nth-of-type(2) {
  border-top: 1px solid #000;
}
.table_collapse .tdLine02, .table_collapse .tdLine03, .table_collapse .tdLine04 {
  border: 1px solid #ddd;
  text-align: left;
}
.table_collapse .tdLine02 {
  border-top: none;
  padding: 20px;
}
.table_collapse .tdLine02:first-of-type, .table_collapse .tdLine02:last-of-type, .table_collapse .tdLine03:first-of-type, .table_collapse .tdLine03:last-of-type, .table_collapse .tdLine04:first-of-type, .table_collapse .tdLine04:last-of-type {
  border-right: 0;
  border-left: 0;
}
.table_collapse .tdLine03, .table_collapse .tdLine04 {
  height: 70px;
  padding: 0 20px;
}
.table_collapse input[type=radio] {
  margin: 0 !important;
}

.bssTable {
  border-top: 1px solid #000;
}
.bssTable > tbody > tr > td {
  border-bottom: 1px solid #ddd;
  line-height: normal;
  padding: 0 20px !important;
  font-size: 14px;
  color: #000;
  height: 70px;
  font-family: "Suit", sans-serif !important;
}
.bssTable > tbody > tr:nth-of-type(2) > td {
  font-weight: 700;
  height: auto;
  padding: 20px !important;
}
.bssTable font {
  color: #ff0000 !important;
}

.skin_login {
  height: auto !important;
  display: flex;
  flex-direction: column;
  padding: 40px 0 80px;
}
.skin_login > div {
  margin: 0 auto !important;
  width: 360px !important;
  background: #fff !important;
  border: none !important;
  box-sizing: border-box;
  padding: 0 !important;
}
.skin_login > div:first-of-type {
  order: 1;
}
.skin_login > div.subTit {
  text-align: center;
  font-size: 20px;
  order: 0;
  padding-bottom: 20px;
  font-family: "Suit", sans-serif !important;
  font-weight: 700;
}
.skin_login > div > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  height: auto !important;
}
.skin_login > div > div:nth-of-type(2) > div {
  float: none !important;
  width: 100% !important;
  margin: 0 !important;
  height: auto !important;
}
.skin_login > div > div:nth-of-type(2) > div:nth-of-type(3) {
  display: none;
}
.skin_login input, .skin_login a {
  width: 100% !important;
  line-height: normal !important;
  font-size: 14px !important;
  height: auto !important;
  margin-bottom: 10px !important;
}
.skin_login input {
  padding: 15px !important;
  border-radius: 10px !important;
  border: 1px solid #ddd;
}
.skin_login a {
  padding: 15px !important;
  border-radius: 10px !important;
}
.skin_login a.login_go {
  box-sizing: border-box;
  background: #000 !important;
  margin-bottom: 60px !important;
}
.skin_login .login_btn {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  position: relative;
  top: 210px;
}
.skin_login .login_btn, .skin_login .login_btn p {
  margin: 0 !important;
  float: none !important;
}
.skin_login *, .skin_login #policyTbl * {
  font-family: "Suit", sans-serif !important;
}

.policy-step {
  border: none !important;
}
.policy-step .step-box {
  font-size: 14px !important;
}
.policy-step .step-box:first-of-type {
  border-radius: 10px 0 0 10px;
}
.policy-step .step-box:last-of-type {
  border-radius: 0 10px 10px 0;
}

#policyTbl > div {
  margin: 0 !important;
}

.tdLine01 {
  border: 0 !important;
}
.tdLine01 > div {
  border-radius: 10px !important;
  border: 1px solid #ddd;
  margin-top: 20px;
}

.tbl01 {
  padding: 0 0 10px !important;
  font-size: 20px !important;
  font-weight: 700 !important;
}

.gTable th {
  background: none !important;
}
.gTable > tbody > tr > th,
.gTable > tbody > tr > td {
  height: 70px !important;
  padding: 0 20px !important;
  font-family: "Suit", sans-serif !important;
  font-size: 14px !important;
}
.gTable td input[type=text], .gTable input[type=password] {
  height: auto !important;
  line-height: normal !important;
  padding: 10px !important;
  border-radius: 5px !important;
  width: 240px !important;
  font-family: "Suit", sans-serif !important;
  font-size: 14px !important;
  box-sizing: border-box;
}
.gTable > tbody > tr:nth-of-type(7) > td > table > tbody > tr:nth-of-type(4) input[type=text],
.gTable > tbody > tr:nth-of-type(7) > td > table > tbody > tr:nth-of-type(6) input[type=text] {
  width: 100% !important;
}
.gTable > tbody > tr:nth-of-type(7) > td > table {
  width: 100%;
}

.btnBox {
  margin: 0 !important;
  padding-bottom: 0 !important;
}
.btnBox .newCbtn {
  font-family: "Suit", sans-serif !important;
}

.notice-txt {
  font-family: "Suit", sans-serif !important;
}

.layout01 .gTable .chkBtn {
  font-family: "Suit", sans-serif !important;
  padding: 10px !important;
  border-radius: 5px;
}

.boradTable > tbody > tr:first-of-type > td {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.boradTable > tbody > tr:first-of-type > td > input[name=word] {
  width: 240px !important;
  border: none;
  border-bottom: 1px solid #000;
  padding: 0 10px;
  height: 45px !important;
}
.boradTable > tbody > tr:first-of-type > td > a {
  background: #000;
  padding: 0px 30px !important;
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  font-weight: bold;
}
.boradTable > tbody > tr:nth-of-type(2) table {
  background: none !important;
}
.boradTable > tbody > tr:nth-of-type(2) div {
  box-shadow: none !important;
  background: none !important;
  text-align: left !important;
}
.boradTable > tbody > tr:nth-of-type(2) div.bgc_000 {
  display: none !important;
}
.boradTable .search-box input[name=word],
.boradTable .searchArea input[name=word] {
  width: 240px !important;
  border: none !important;
  border-bottom: 1px solid #000 !important;
  padding: 0 10px !important;
  height: 45px !important;
  margin-right: 10px;
}
.boradTable .search-box a,
.boradTable .searchArea a {
  background: #000;
  padding: 0px 30px !important;
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px !important;
}
.boradTable .search-box select,
.boradTable .searchArea select {
  padding: 0px 10px !important;
  height: 45px !important;
  line-height: 45px !important;
  border: none;
  border-bottom: 1px solid #000;
  margin-right: 10px;
  font-size: 14px !important;
  width: 100px;
  font-size: 14px;
}
.boradTable .search-box select:focus,
.boradTable .search-box input:focus,
.boradTable .searchArea select:focus,
.boradTable .searchArea input:focus {
  outline: 0;
}

.gal_img {
  height: 0;
  background: none !important;
  position: relative;
  padding-bottom: 65%;
}
.gal_img .bgc_pos {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
}
.gal_img .bgc_pos:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fafafa;
  z-index: -1;
}
.gal_img img {
  width: 100% !important;
  height: 100% !important;
}

.limitTxt {
  margin-bottom: 60px !important;
}
.limitTxt a {
  color: #000 !important;
  font-weight: 600;
}

.big.cnt-box {
  padding: 30px 50px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  font-family: "Suit", sans-serif !important;
}
.big.cnt-box .titleBox {
  font-size: 24px !important;
  font-weight: 700;
  margin-bottom: 20px;
}
.big.cnt-box .btnGroup {
  margin-top: 30px;
}